@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-sans), -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

@layer components {
  .end-cursor:after {
    content: '|';
    @apply text-white;
  }

  .end-cursor.blinking:after {
    animation: blink 1s step-start infinite;
  }
  @keyframes blink {
    50% {
      opacity: 0;
    }
  }
  .bubble {
    @apply absolute top-0 rounded-full w-1/4 h-full translate-y-[150%] duration-500 ease-linear group-hover:scale-[2] group-hover:translate-y-0 -z-10;
  }

  .loading-svg,
  .loading-path {
    stroke-dasharray: 1500;
    stroke-linecap: round;
    stroke-dashoffset: 1500;
    animation: draw 3s ease-in-out;
  }

  .loading-word {
    opacity: 0;
    animation: show 3s ease-in-out;
  }

  @keyframes draw {
    to {
      stroke-dashoffset: 4500;
    }
  }
  @keyframes show {
    to {
      opacity: 1;
    }
  }
}
